.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 

  display: grid;
  grid-template-columns: 44px auto 44px;
  grid-template-rows: 65px auto 44px;

  background-color: #BEBEBE;
}

.main-container__header {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.main-container__sidebar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.main-container__full-cycle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.main-container__sidebar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.main-container__footer {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}
