.main-container {
  background-color: #BEBEBE;
  // height: 100%;
  // width: 1440px;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 44px auto 44px;
  grid-template-rows: 65px auto 44px;
}

.main-container__header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.main-container__footer {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}
