.main-button-question {
  position: relative;

  display: inline-block;

  color: #FFFFFF;

  font-size: 20px;
  text-align: center;

  cursor: pointer;

  &:hover {
    font-style: italic;
  }

  &:after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 650ms ease-out;

    height: 2px;
    width: 100%;

    background-color: #FFFFFF;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.question-where {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  margin-left: 19px;
}

.question-what {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  margin-right: 19px;
}

.question-who {
  margin-bottom: 19px;

  text-align: center;
}

@media (min-width: 1440px) {
  .main-button-question {
    font-size: 22px;
  }
}
