.button-switch-languages {
  cursor: pointer;
}

.eclipse-languages {
  position: absolute;
  top: 28px;
  left: 24px;

  opacity: 0.12;
  
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

.icon-languages {
  position: absolute;
  top: 36px;
  left: 32px;
}

.row-icon-languages {
  position: fixed;
  top: -100px;
  left: 74px;

  transition: 0.5s;

  height: 100%;
  width: 200px;
}

.row-icon-languages.active {
  top: 37px;
}

.row-icon-languages__box {
  display: flex;

  text-transform: uppercase;

  cursor: pointer;

  font-size: 14px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.row-icon-languages__box-element {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
