.cycle {
  position: absolute;
  top: 50%;
  left: 50%;

  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 50%;
  height: 294px;
  width: 294px;

  background: #FFCB46;

  filter: blur(76px);
}

@media (min-width: 768px) {
  .cycle {
    height: 482px;
    width: 482px;
  }
}

@media (min-width: 1440px) {
  .cycle {
    height: 578px;
    width: 578px;
  }
}
