.main-title {
  z-index: 1;

  font-size: 37px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #373737;
}

@media (min-width: 414px) {
  .main-title {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .main-title {
    font-size: 64px;
  }
}

@media (min-width: 1440px) {
  .main-title {
    font-size: 90px;
  }
}
